body{
    background-color: rgb(27, 27, 27);
}

hr{
    border-color: hsl(28, 187, 41);
}

h2{
    justify-content: center;
    display: flex;
    color: rgb(28, 187, 41);
}
#musicas{
    display: grid;
    place-items: center;
    text-align: center;
 list-style-type: disc;
 text-decoration: underline;
 disc color: (28, 187, 41)
 
;

}

h1{
    color: rgb(28, 187, 41);
    text-align: center;
}

li{
    color: floralwhite;
}
#albuns{
    display: grid;
    place-items: center;
    text-align: center;
 list-style-type: decimal;
 text-decoration: underline;
 
;
img{
    width: 80px;
    display: flex;
    justify-content: right;
   
}
